.gitignore
*.md
*.log
*.lock
*.js
node_modules
node_modules/*
node_modules/**/*
**/node_modules
**/node_modules/*
**/node_modules/**/*
out
dist
out/*
dist/*
out/**/*
dist/**/*
out/**/*.js
dist/**/*.js
*.d.ts
*.js.map
*.svg
*.ico
*.json
prettierrc
!.eslintrc.json