{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "jsdocCapitalizeDescription": true,
  "jsdocCommentLineStrategy": "multiline",
  "jsdocDescriptionTag": true,
  "jsdocDescriptionWithDot": true,
  "jsdocKeepUnParseAbleExampleIndent": false,
  "jsdocPreferCodeFences": true,
  "jsdocPrintWidth": 100,
  "jsdocSeparateReturnsFromParam": true,
  "jsdocSeparateTagGroups": true,
  "jsdocSingleLineComment": false,
  "jsdocSpaces": 1,
  "jsdocVerticalAlignment": true,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "plugins": [
    "./node_modules/prettier-plugin-jsdoc/dist/index.js"
  ],
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "tsdoc": true,
  "useTabs": false
}